.wrap {
	overflow-x: hidden;
	position: relative;
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.container {
	// @include d_f(flex, space-between);
	// flex-direction: column;
	min-height: 100%;
	.wrap:not(.home) & {
		padding-bottom: 70px;
	}
}
.head {
	flex: none;
	@include d_f(flex);
	width: 100%;
	height: 60px;

	// .head_title
	&_title {
		@include d_f(flex, center, center);
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to right,
			rgba(42, 72, 107, 1) 0%,
			rgba(80, 122, 167, 1) 100%
		);
		color: #fff;
		font-size: 36px;
		font-family: "Caveat", cursive;
	}
	// .head_menu
	&_menu {
		z-index: 1;
		position: absolute;
		top: 60px;
		@include d_f(flex);
		flex-direction: column;
		width: 100%;
		height: calc(100% - 60px);
		padding: 12px 8px 0;
		background: rgba(49, 46, 129, 1);
		transform: translateX(100%);
		@extend %transition;
		.on + & {
			transform: translateX(0%);
		}
		// .head_menu_title
		&_title {
			flex: none;
			margin-bottom: 12px;
			padding-bottom: 12px;
			font-size: 28px;
			font-family: "Caveat", cursive;
			color: #a5b4fc;
			border-bottom: 1px solid rgba(55, 65, 81, 1);
		}
		// .head_menu_group
		&_group {
			height: 100%;
		}
		// .head_menu_item
		&_item {
			@include d_f(flex, none, center);
			width: 100%;
			height: 48px;
			font-size: 16px;
			border-radius: 3px;
			& + & {
				margin-top: 8px;
			}
		}
		// .head_menu_link
		&_link {
			@include d_f(flex, none, center);
			width: 100%;
			height: 100%;
			padding: 0 12px;
			color: #a5b4fc;
			@extend %transition;

			&.router-link-active {
				background-color: #4338ca;
				color: #e0e7ff;
				&::before {
					filter: invert(86%) sepia(3%) saturate(2893%)
						hue-rotate(197deg) brightness(103%) contrast(107%);
				}
			}
			@include hoverHandler {
				background-color: #4338ca;
				color: #e0e7ff;
				&::before {
					filter: invert(86%) sepia(3%) saturate(2893%)
						hue-rotate(197deg) brightness(103%) contrast(107%);
				}
			}

			&::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				margin-right: 8px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				filter: invert(69%) sepia(16%) saturate(934%) hue-rotate(193deg)
					brightness(102%) contrast(98%);
				@extend %transition;
			}
			&._qa::before {
				background-image: url("../../images/icon/icon_book.svg");
			}
			&._plan::before {
				background-image: url("../../images/icon/icon_plan.svg");
			}
			&._logout::before {
				background-image: url("../../images/icon/icon_logout.svg");
			}
			&._member::before {
				background-image: url("../../images/icon/icon_member.svg");
			}
		}
		// .head_menu_member
		&_member {
			@include d_f(flex, center, center);
			padding: 12px 0;
			flex: none;
			font-size: 28px;
			font-family: "Caveat", cursive;
			color: #a5b4fc;
			&::before {
				content: "";
				display: block;
				width: 22px;
				height: 22px;
				margin-right: 8px;
				background: url("../../images/icon/icon_user.svg") no-repeat
					center/contain;
				filter: invert(69%) sepia(16%) saturate(934%) hue-rotate(193deg)
					brightness(102%) contrast(98%);
			}
		}
		// .head_menu_btn
		&_btn {
			position: absolute;
			top: 0;
			right: 0;
			@include d_f(flex, center, center);
			width: 60px;
			height: 60px;
			background: linear-gradient(
				to right,
				rgba(42, 72, 107, 1) 0%,
				rgba(80, 122, 167, 1) 100%
			);

			span {
				position: relative;
				display: block;
				width: 35px;
				height: 3px;
				background-color: rgba(255, 255, 255, 1);
				border-radius: 100px;
				@extend %transition;
				&:before,
				&:after {
					content: "";
					position: absolute;
					display: block;
					width: 35px;
					height: 3px;
					background-color: #fff;
					border-radius: 100px;
					@extend %transition;
				}
				&:before {
					top: -10px;
				}
				&:after {
					top: 10px;
				}
			}

			&.on {
				span {
					background-color: rgba(255, 255, 255, 0);
					&:before {
						top: 0;
						transform: rotate(45deg);
					}
					&:after {
						top: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
.main {
	@include overflow(hidden, auto);
	flex: 100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.home {
	// .home_group
	&_group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 100%;
		gap: 8px;
		padding: 20px 15px;
	}
	// .home_item
	&_item {
		width: 100%;
		padding: 30px;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		text-align: center;
		font-size: 20px;
		transform: rotateY(35deg);
		animation: cardAni 1.5s forwards;
		&::before {
			content: "";
			display: block;
			width: 32px;
			height: 32px;
			margin: 0 auto 10px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&._qa::before {
			background-image: url("../../images/icon/icon_book.svg");
		}
		&._plan::before {
			background-image: url("../../images/icon/icon_plan.svg");
		}
		&._logout::before {
			background-image: url("../../images/icon/icon_logout.svg");
		}
		&._member::before {
			background-image: url("../../images/icon/icon_member.svg");
		}
	}
}

.qa {
	// .qa_group
	&_group {
		padding: 20px 15px;
	}
	// .qa_item
	&_item {
		position: relative;
		padding: 30px;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		text-align: center;

		& + & {
			margin-top: 10px;
		}
		// .qa_item_date
		&_date {
			margin-bottom: 5px;
			font-size: 20px;
			font-weight: bold;
		}
		// .qa_item_title
		&_title {
			margin-bottom: 5px;
			font-size: 20px;
			font-weight: bold;
		}
		// .qa_item_info
		&_info {
			display: -webkit-box;
			-webkit-box-orient: vertical; /* 用來設定一個元素是水平還是垂直方向排列其內容 */
			-webkit-line-clamp: 2; /* 限制指定的行數 */
			overflow: hidden;
			/* 其它瀏覽器降級方式：給定最大高度 */
			/*max-height:48px;*/
			text-align: left;
		}
	}
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	padding: 20px 15px;
	background-color: rgba(0, 0, 0, 0.5);

	// .alert_box
	&_box {
		width: 100%;
		max-width: 5000px;
		// min-height: 258px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
	}
	// .alert_title
	&_title {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
		color: #595959;
		font-size: 30px;
		text-align: center;
		font-weight: 600;
		text-transform: none;
		line-height: 60px;
	}
	// .alert_func
	&_func {
		@include d_f(flex, center);

		.alert_title + & {
			margin-top: 30px;
		}
	}
}
.normal_btn {
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 500;
	margin: 0 5px;
	padding: 10px 32px;

	&._primary {
		color: #fff;
		background-color: #0d6efd;
		border-color: #0d6efd;
	}
	&._secondary {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	}
	&._third {
		color: #fff;
		background-color: #198754;
		border-color: #198754;
	}
	&._danger {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	}
	@extend %transition;
	@include hoverHandler {
		&._primary {
			color: #fff;
			background-color: #0b5ed7;
			border-color: #0a58ca;
		}
		&._secondary {
			color: #fff;
			background-color: #5c636a;
			border-color: #565e64;
		}
		&._third {
			color: #fff;
			background-color: #157347;
			border-color: #146c43;
		}
		&._danger {
			color: #fff;
			background-color: #bb2d3b;
			border-color: #b02a37;
		}
	}
}
.normal_func {
	position: absolute;
	left: 0;
	bottom: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 60px;
	background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.normal_inp {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.ans {
	position: relative;
	@include d_f(flex);
	flex-direction: column;
	padding: 20px 15px;
	// .ans_add
	&_add {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 30px;
		height: 30px;
		background: url("../../images/icon/icon_addans.svg") no-repeat
			center/contain;
	}
	// .ans_title
	&_title {
		flex: none;
		margin-bottom: 3px;
		font-size: 20px;
		font-weight: bold;
	}
	// .ans_date
	&_date {
		flex: none;
		margin-bottom: 5px;
		font-size: 13px;
		color: #a1a4b9;
	}
	// .ans_content
	&_content {
		flex: none;
	}
	// .ans_box
	&_box {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		flex: 100%;
	}
	// .ans_group
	&_group {
		margin-top: 20px;
		// .ans_group_item
		&_item {
			padding: 10px;
			background-color: #fff;
			border-radius: 5px;
			& + & {
				margin-top: 10px;
			}
		}
		// .ans_group_title
		&_title {
			margin-bottom: 3px;
			font-size: 20px;
			font-weight: bold;
		}
		// .ans_group_date
		&_date {
			margin-bottom: 5px;
			font-size: 13px;
			color: #a1a4b9;
		}
		// .ans_group_content
		&_content {
			margin-bottom: 5px;
		}
		// .ans_group_func
		&_func {
			@include d_f(flex, center, center);
			width: 100%;
			height: 40px;
			padding-top: 10px;
			border-top: 1px solid #ccc;
			button {
				height: 35px;
				padding: 5px 20px;
			}
		}
	}

	// .ans_alert
	&_alert {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		padding: 20px 15px;
		background-color: rgba(0, 0, 0, 0.5);
		&.show {
			@include d_f(flex, center, center);
		}
		// .ans_alert_box
		&_box {
			width: 100%;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
		}
		// .ans_alert_inp
		// .ans_alert_date
		&_inp,
		&_date {
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid #ccc;
		}
		// .ans_alert_text
		&_text {
			width: 100%;
			padding: 10px;
			border: 1px solid #ccc;
		}
		// .ans_alert_func
		&_func {
			@include d_f(flex, center, center);
			width: 100%;
			height: 40px;
		}
	}
}

.confirm {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, center, center);
	width: 100%;
	height: 100%;
	padding: 20px 15px;
	background-color: rgba(0, 0, 0, 0.5);
	// .confirm_box
	&_box {
		width: 100%;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		text-align: center;
	}
	// .confirm_msg
	&_msg {
		margin-bottom: 10px;
		color: #595959;
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		text-transform: none;
		line-height: 60px;
	}
}

.member {
	// .member_title
	&_title {
		padding: 20px 0;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
	// .member_group
	&_group{
		padding: 0 20px;

	}
	// .member_item
	&_item {
		&+&{
			margin-top: 10px;
		}
		&::before {
			content: attr(data-txt);
			display: block;
			margin-bottom: 3px;
		}
	}
}
